/*
Styles for testing overthrow
*/

.overthrow-enabled .overthrow {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	height: 100px;
	visibility: hidden;
}

.overthrow-enabled .overthrow * {
	width: 500%;
}