/* DEMO CSS IS GROSS */
body {
	font-family: Helvetica, sans-serif;
	max-width: 60em;
	margin: 8em auto;
}


/* overthrow layout enhancements */
/* Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    z-index: 0
}

.overthrow-enabled .sidescroll ul,
.overthrow-enabled .sidescroll li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.overthrow-enabled .sidescroll li img {
	margin: 0;
	padding: 0;
	width: 100%;
}



/* next prev arrows */
.sidescroll-nextprev {
	position: relative;
}
.sidescroll-nextprev .sidescroll-nextprev-links {
  bottom: auto;
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
}
.sidescroll-nextprev .sidescroll-nextprev-links a {
	position: absolute;
  text-indent: -9999px;
  width: 2em;
  height: 2em;
  background: #fff;
  opacity: .8;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  z-index: 1;
}
.sidescroll-nextprev .sidescroll-nextprev-links a:hover,
.sidescroll-nextprev .sidescroll-nextprev-links a:focus {
  opacity: 1;
}
.sidescroll-nextprev .sidescroll-nextprev-links a.sidescroll-next {
  background-image: url(img/arrow-right.png);
  right: 1em;
}
.sidescroll-nextprev .sidescroll-nextprev-links a.sidescroll-prev {
  background-image: url(img/arrow-left.png);
  left: 1em;
}
.sidescroll-nextprev .sidescroll-nextprev-links a.sidescroll-rwd {
  background: #fff url(img/arrow-rwd.png) center center no-repeat;
  left: .25em;
}
.sidescroll-nextprev .sidescroll-nextprev-links a.sidescroll-ff {
  background: #fff url(img/arrow-ff.png) center center no-repeat;
  right: .25em;
}